# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Model checkpoints and trained model
results/
final_model/

# Temporary files
tempCodeRunnerFile.py

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db